<div class="home-blue">
  <p>Blue to Black</p>
  <div class="home-red-select">
    <div class="home-red-select-info">
      <div id="blue-1" class="blue-scr" value="#00FF00" onclick="copyColorBlue(1)" onmouseover="blueSelectAdd(1)" onmouseout="blueSelectRemove(1)"></div>
      <input type="text" name="" value="#00FF00" id="blue--1" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-2" class="blue-scr" value="#ee0000" onclick="copyColorBlue(2)" onmouseover="blueSelectAdd(2)" onmouseout="blueSelectRemove(2)"></div>
      <input type="text" name="" value="#ee0000" id="blue--2" readonly>
      <span>R:238</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-3" class="blue-scr" value="#dd0000" onclick="copyColorBlue(3)" onmouseover="blueSelectAdd(3)" onmouseout="blueSelectRemove(3)"></div>
      <input type="text" name="" value="#dd0000" id="blue--3" readonly>
      <span>R:221</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-4" class="blue-scr" value="#cc0000" onclick="copyColorBlue(4)" onmouseover="blueSelectAdd(4)" onmouseout="blueSelectRemove(4)"></div>
      <input type="text" name="" value="#cc0000" id="blue--4" readonly>
      <span>R:204</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-5" class="blue-scr" value="#bb0000" onclick="copyColorBlue(5)" onmouseover="blueSelectAdd(5)" onmouseout="blueSelectRemove(5)"></div>
      <input type="text" name="" value="#bb0000" id="blue--5" readonly>
      <span>R:187</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-6" class="blue-scr" value="#aa0000" onclick="copyColorBlue(6)" onmouseover="blueSelectAdd(6)" onmouseout="blueSelectRemove(6)"></div>
      <input type="text" name="" value="#aa0000" id="blue--6" readonly>
      <span>R:170</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-7" class="blue-scr" value="#990000" onclick="copyColorBlue(7)" onmouseover="blueSelectAdd(7)" onmouseout="blueSelectRemove(7)"></div>
      <input type="text" name="" value="#990000" id="blue--7" readonly>
      <span>R:153</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-8" class="blue-scr" value="#880000" onclick="copyColorBlue(8)" onmouseover="blueSelectAdd(8)" onmouseout="blueSelectRemove(8)"></div>
      <input type="text" name="" value="#880000" id="blue--8" readonly>
      <span>R:136</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-9" class="blue-scr" value="#770000" onclick="copyColorBlue(9)" onmouseover="blueSelectAdd(9)" onmouseout="blueSelectRemove(9)"></div>
      <input type="text" name="" value="#770000" id="blue--9" readonly>
      <span>R:119</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-10" class="blue-scr" value="#660000" onclick="copyColorBlue(10)" onmouseover="blueSelectAdd(10)" onmouseout="blueSelectRemove(10)"></div>
      <input type="text" name="" value="#660000" id="blue--10" readonly>
      <span>R:102</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-11" class="blue-scr" value="#550000" onclick="copyColorBlue(11)" onmouseover="blueSelectAdd(11)" onmouseout="blueSelectRemove(11)"></div>
      <input type="text" name="" value="#550000" id="blue--11" readonly>
      <span>R:85</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-12" class="blue-scr" value="#440000" onclick="copyColorBlue(12)" onmouseover="blueSelectAdd(12)" onmouseout="blueSelectRemove(12)"></div>
      <input type="text" name="" value="#440000" id="blue--12" readonly>
      <span>R:68</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-13" class="blue-scr" value="#330000" onclick="copyColorBlue(13)" onmouseover="blueSelectAdd(13)" onmouseout="blueSelectRemove(13)"></div>
      <input type="text" name="" value="#330000" id="blue--13" readonly>
      <span>R:51</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-14" class="blue-scr" value="#220000" onclick="copyColorBlue(14)" onmouseover="blueSelectAdd(14)" onmouseout="blueSelectRemove(14)"></div>
      <input type="text" name="" value="#220000" id="blue--14" readonly>
      <span>R:34</br>G:0</br>B:0</span>
    </div>
  </div>
  <p>Several Blue</p>
  <div class="home-red-select">
    <div class="home-red-select-info">
      <div id="blue-15" class="blue-scr" value="#32cd32" onclick="copyColorBlue(15)" onmouseover="blueSelectAdd(15)" onmouseout="blueSelectRemove(15)"></div>
      <input type="text" name="" value="#32cd32" id="blue--15" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-16" class="blue-scr" value="#ff1111" onclick="copyColorBlue(16)" onmouseover="blueSelectAdd(16)" onmouseout="blueSelectRemove(16)"></div>
      <input type="text" name="" value="#ff1111" id="blue--16" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-17" class="blue-scr" value="#ff2222" onclick="copyColorBlue(17)" onmouseover="blueSelectAdd(17)" onmouseout="blueSelectRemove(17)"></div>
      <input type="text" name="" value="#ff2222" id="blue--17" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-18" class="blue-scr" value="#ff3333" onclick="copyColorBlue(18)" onmouseover="blueSelectAdd(18)" onmouseout="blueSelectRemove(18)"></div>
      <input type="text" name="" value="#ff3333" id="blue--18" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-19" class="blue-scr" value="#ff4444" onclick="copyColorBlue(19)" onmouseover="blueSelectAdd(19)" onmouseout="blueSelectRemove(19)"></div>
      <input type="text" name="" value="#ff4444" id="blue--19" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-20" class="blue-scr" value="#ff5555" onclick="copyColorBlue(20)" onmouseover="blueSelectAdd(20)" onmouseout="blueSelectRemove(20)"></div>
      <input type="text" name="" value="#ff5555" id="blue--20" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-21" class="blue-scr" value="#ff6666" onclick="copyColorBlue(21)" onmouseover="blueSelectAdd(21)" onmouseout="blueSelectRemove(21)"></div>
      <input type="text" name="" value="#ff6666" id="blue--21" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-22" class="blue-scr" value="#ff7777" onclick="copyColorBlue(22)" onmouseover="blueSelectAdd(22)" onmouseout="blueSelectRemove(22)"></div>
      <input type="text" name="" value="#ff7777" id="blue--22" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-23" class="blue-scr" value="#ff8888" onclick="copyColorBlue(23)" onmouseover="blueSelectAdd(23)" onmouseout="blueSelectRemove(23)"></div>
      <input type="text" name="" value="#ff8888" id="blue--23" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-24" class="blue-scr" value="#ff9999" onclick="copyColorBlue(24)" onmouseover="blueSelectAdd(24)" onmouseout="blueSelectRemove(24)"></div>
      <input type="text" name="" value="#ff9999" id="blue--24" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-25" class="blue-scr" value="#ffaaaa" onclick="copyColorBlue(25)" onmouseover="blueSelectAdd(25)" onmouseout="blueSelectRemove(25)"></div>
      <input type="text" name="" value="#ffaaaa" id="blue--25" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-26" class="blue-scr" value="#ffbbbb" onclick="copyColorBlue(26)" onmouseover="blueSelectAdd(26)" onmouseout="blueSelectRemove(26)"></div>
      <input type="text" name="" value="#ffbbbb" id="blue--26" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <i><div id="blue-27" class="blue-scr" value="#ffcccc" onclick="copyColorBlue(27)" onmouseover="blueSelectAdd(27)" onmouseout="blueSelectRemove(27)"></div></i>
      <input type="text" name="" value="#ffcccc" id="blue--27" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="blue-28" class="blue-scr" value="#ffdddd" onclick="copyColorBlue(28)" onmouseover="blueSelectAdd(28)" onmouseout="blueSelectRemove(28)"></div>
      <input type="text" name="" value="#ffdddd" id="blue--28" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
  </div>
</div>
