<div class="home-red">
  <p>Red to Black</p>
  <div class="home-red-select">
    <div class="home-red-select-info">
      <div id="red-1" value="#ff0000" onclick="copyColor(1)" onmouseover="redSelectAdd(1)" onmouseout="redSelectRemove(1)"></div>
      <input type="text" name="" value="#ff0000" id="red--1" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-2" value="#ee0000" onclick="copyColor(1)" onmouseover="redSelectAdd(2)" onmouseout="redSelectRemove(2)"></div>
      <input type="text" name="" value="#ee0000" id="red--2" readonly>
      <span>R:238</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-3" value="#dd0000" onclick="copyColor(3)" onmouseover="redSelectAdd(3)" onmouseout="redSelectRemove(3)"></div>
      <input type="text" name="" value="#dd0000" id="red--3" readonly>
      <span>R:221</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-4" value="#cc0000" onclick="copyColor(4)" onmouseover="redSelectAdd(4)" onmouseout="redSelectRemove(4)"></div>
      <input type="text" name="" value="#cc0000" id="red--4" readonly>
      <span>R:204</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-5" value="#bb0000" onclick="copyColor(5)" onmouseover="redSelectAdd(5)" onmouseout="redSelectRemove(5)"></div>
      <input type="text" name="" value="#bb0000" id="red--5" readonly>
      <span>R:187</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-6" value="#aa0000" onclick="copyColor(6)" onmouseover="redSelectAdd(6)" onmouseout="redSelectRemove(6)"></div>
      <input type="text" name="" value="#aa0000" id="red--6" readonly>
      <span>R:170</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-7" value="#990000" onclick="copyColor(7)" onmouseover="redSelectAdd(7)" onmouseout="redSelectRemove(7)"></div>
      <input type="text" name="" value="#990000" id="red--7" readonly>
      <span>R:153</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-8" value="#880000" onclick="copyColor(8)" onmouseover="redSelectAdd(8)" onmouseout="redSelectRemove(8)"></div>
      <input type="text" name="" value="#880000" id="red--8" readonly>
      <span>R:136</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-9" value="#770000" onclick="copyColor(9)" onmouseover="redSelectAdd(9)" onmouseout="redSelectRemove(9)"></div>
      <input type="text" name="" value="#770000" id="red--9" readonly>
      <span>R:119</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-10" value="#660000" onclick="copyColor(10)" onmouseover="redSelectAdd(10)" onmouseout="redSelectRemove(10)"></div>
      <input type="text" name="" value="#660000" id="red--10" readonly>
      <span>R:102</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-11" value="#550000" onclick="copyColor(11)" onmouseover="redSelectAdd(11)" onmouseout="redSelectRemove(11)"></div>
      <input type="text" name="" value="#550000" id="red--11" readonly>
      <span>R:85</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-12" value="#440000" onclick="copyColor(12)" onmouseover="redSelectAdd(12)" onmouseout="redSelectRemove(12)"></div>
      <input type="text" name="" value="#440000" id="red--12" readonly>
      <span>R:68</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-13" value="#330000" onclick="copyColor(13)" onmouseover="redSelectAdd(13)" onmouseout="redSelectRemove(13)"></div>
      <input type="text" name="" value="#330000" id="red--13" readonly>
      <span>R:51</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-14" value="#220000" onclick="copyColor(14)" onmouseover="redSelectAdd(14)" onmouseout="redSelectRemove(14)"></div>
      <input type="text" name="" value="#220000" id="red--14" readonly>
      <span>R:34</br>G:0</br>B:0</span>
    </div>
  </div>
  <p>Red to White</p>
  <div class="home-red-select">
    <div class="home-red-select-info">
      <div id="red-15" value="#ff0000" onclick="copyColor(15)" onmouseover="redSelectAdd(15)" onmouseout="redSelectRemove(15)"></div>
      <input type="text" name="" value="#ff0000" id="red--15" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-16" value="#ff1111" onclick="copyColor(16)" onmouseover="redSelectAdd(16)" onmouseout="redSelectRemove(16)"></div>
      <input type="text" name="" value="#ff1111" id="red--16" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
        <div id="red-17" value="#ff2222" onclick="copyColor(17)" onmouseover="redSelectAdd(17)" onmouseout="redSelectRemove(17)"></div>
      <input type="text" name="" value="#ff2222" id="red--17" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-18" value="#ff3333" onclick="copyColor(18)" onmouseover="redSelectAdd(18)" onmouseout="redSelectRemove(18)"></div>
      <input type="text" name="" value="#ff3333" id="red--18" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-19" value="#ff4444" onclick="copyColor(19)" onmouseover="redSelectAdd(19)" onmouseout="redSelectRemove(19)"></div>
      <input type="text" name="" value="#ff4444" id="red--19" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-20" value="#ff5555" onclick="copyColor(20)" onmouseover="redSelectAdd(20)" onmouseout="redSelectRemove(20)"></div>
      <input type="text" name="" value="#ff5555" id="red--20" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-21" value="#ff6666" onclick="copyColor(21)" onmouseover="redSelectAdd(21)" onmouseout="redSelectRemove(21)"></div>
      <input type="text" name="" value="#ff6666" id="red--21" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-22" value="#ff7777" onclick="copyColor(22)" onmouseover="redSelectAdd(22)" onmouseout="redSelectRemove(22)"></div>
      <input type="text" name="" value="#ff7777" id="red--22" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-23" value="#ff8888" onclick="copyColor(23)" onmouseover="redSelectAdd(23)" onmouseout="redSelectRemove(23)"></div>
      <input type="text" name="" value="#ff8888" id="red--23" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-24" value="#ff9999" onclick="copyColor(24)" onmouseover="redSelectAdd(24)" onmouseout="redSelectRemove(24)"></div>
      <input type="text" name="" value="#ff9999" id="red--24" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-25" value="#ffaaaa" onclick="copyColor(25)" onmouseover="redSelectAdd(25)" onmouseout="redSelectRemove(25)"></div>
      <input type="text" name="" value="#ffaaaa" id="red--25" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-26" value="#ffbbbb" onclick="copyColor(26)" onmouseover="redSelectAdd(26)" onmouseout="redSelectRemove(26)"></div>
      <input type="text" name="" value="#ffbbbb" id="red--26" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-27" value="#ffcccc" onclick="copyColor(27)" onmouseover="redSelectAdd(27)" onmouseout="redSelectRemove(27)"></div>
      <input type="text" name="" value="#ffcccc" id="red--27" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
    <div class="home-red-select-info">
      <div id="red-28" value="#ffdddd" onclick="copyColor(28)" onmouseover="redSelectAdd(28)" onmouseout="redSelectRemove(28)"></div>
      <input type="text" name="" value="#ffdddd" id="red--28" readonly>
      <span>R:255</br>G:0</br>B:0</span>
    </div>
  </div>
</div>
