@import 'colors';
@import 'red';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@mixin listColor($color) {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 60%;
  display: inline-block;
  background-color: $color;
}

#header {
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid $gray-border-light;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  .header-logo {
    margin: 30px 0 0 40px;
    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      color: $lightpink;
      font-family: 'Comic Sans MS',sans-serif;
    }
  }
  a {
    text-decoration: none;
  }
  #helpnav {
    margin: 10px 40px 0 0px;
    display: flex;
    .navLists {
      display: flex;
      flex-direction: column;
      padding: 20px 10px 20px 10px;
      cursor: pointer;
      i {
        text-align: center;
        color: $gray-medium-dark;
      }
      p {
        text-align: center;
      }
      span {
        text-align: center;
        margin-top: 10px;
        padding-bottom: 3px;
        font-size: 0.8rem;
        color: $gray-medium-dark;
      }
    }
    li {
      display: inline;
      margin-left: 10px;
      color: $lightpink;
    }
    .hnl {
      display: none;
      position: absolute;
      background-color: #f7f7f7;
      padding: 10px 60px 30px 10px;
      border-radius: 0px 0px 5px 5px / 0px 0px 5px 5px;
      border: 1px solid $gray-border-light;
      top: 102px;
      border-top: none;
      z-index: 100;
      h2 {
        margin: 20px 0 20px 0;
        color: $lightpink;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .hnl-red {
        @include listColor(#cc0000);
      }
      .hnl-blue {
        @include listColor(#305097);
      }
      .hnl-yellow {
        @include listColor(#ffff00);
      }
      .hnl-green {
        @include listColor(#32cd32);
      }
      li {
        margin-top: 10px;
        color: $gray-medium-dark;
        display: block;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.helpNavList-1 {
  right: 340px;
}

.helpNavList-2 {
  right: 100px;
}

.helpNav-1, .helpNav-2, .helpNav-3, .helpNav-4, .helpNav-5 {
  border-top: 4px solid transparent;
}

.cursorAdd {
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-top: 5px solid $lightpink;
}

// footer(PC)=======================================

@mixin homeSNS($bg) {
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main {
  width: 100%;
  margin-top: 100px;
  border-top: 1px solid $gray-border-light;
  .home-sns {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    text-align: center;
    span {
      margin: 0 10px 0 10px;
      width: 40px;
      height: 40px;
      border-radius: 60%;
      color: #fff;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}


#home-g {
  @include homeSNS(#dd4b39);
}
#home-f {
  @include homeSNS(#3B5998);
}
#home-t {
  @include homeSNS(#55acee);
}
#home-i {
  @include homeSNS(#D93177);
}

// HOME(PC)==========================================

.home-wrapper {
  .home-title {
    @include fontTitle;
    color: $lightpink;
    width: 70%;
    margin: 50px auto;
  }
}
