<div class="footer-wrapper">
  <div class="footer-main">
    <div class="home-sns">
      <span id="home-g"><i class="fa fa-google"></i></span>
      <span id="home-f"><i class="fa fa-facebook"></i></span>
      <span id="home-t"><i class="fa fa-twitter"></i></span>
      <span id="home-i"><i class="fa fa-instagram"></i></span>
    </div>
  </div>
</div>
